body {
    background-color: rgba(71, 71, 139, 0.555);
    font-family: monospace;
    font-size: 25px;
    }
    #one{
        font-family: monospace;
        font-size: 20px;
    }
    
    #all{
        font-family: monospace;
        font-size: 20px;
    }
        